body{
    margin: 0px;
    padding: 0px;
    display :grid;
    align-items:center;
    justify-items:center;
    background-color: rgb(231, 203, 167);
}

#headbar {
    width : 100%;
    height : 50px;
    background-color: navy;
    color : white;
    display: inline-flex;
    justify-content: center;
    align-content:center;
}

h2{
    margin:0px;
    padding :0px;
}

#rock {
    background-image: url('https://github.com/MuditVyas/JS_Prac/blob/main/rock.png?raw=true');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /* or 'contain' depending on needs */
    height : 100px;
    width :100px;
    border-radius: 50%;
}

#paper {
    background-image: url('https://github.com/MuditVyas/JS_Prac/blob/main/paper.png?raw=true');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /* or 'contain' depending on needs */
    height : 100px;
    width :100px;
    border-radius: 50%;
}

#scissors {
    background-image: url('https://github.com/MuditVyas/JS_Prac/blob/main/scissors.png?raw=true');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /* or 'contain' depending on needs */
    height : 100px;
    width :100px;
    border-radius: 50%;
}

button:hover{
    cursor: pointer;
    /* opacity : 0.5; */
    background-color: black;
}

#buttons{
    display : inline-block;
    align-content: center;
    justify-content: space-between;
    margin: 20px 0px 0px 0px;
    /* position : relative; top: 40px; */
}

#scoreboard {
    display:inline-flex;
    flex-direction: rows;
    align-content: center;
    justify-content:space-around;
    margin : 10px;
}

#yourScore {
    display: grid;
    padding: 5px;
    text-align: center;
    border-right: 2px solid black;
}
#compS {
    display: grid;
    padding:5px;
    text-align: center;
    border-left : 2px solid black;
}

#userScore, #compScore {
    color: rgb(58, 58, 18);
    font-size : 36px;
    font-weight: 300;
    margin: 0px 0px 10px 0px;
}


#msgboxx {
    height : 30px;
    /* width : 150px; */
    color: white;
    background-color: rgb(58, 58, 18);
    border-radius: 5px;
    display : inline-block;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin : 10px 0px 0px 0px;
}
